### Super Cool!

This is a really slick piece of work

#### I am digging it

Here's peice of code

```javascript
var step;
for (step = 0; step < 5; step++) {
  // Runs 5 times, with values of step 0 through 4.
  console.log('Walking east one step');
}
```
<br>

<p>There you go! Its super duper. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias praesentium quaerat labore voluptas. Eos dignissimos tempora perspiciatis non odio vero amet iure, nisi incidunt possimus necessitatibus molestias vitae sed inventore!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et itaque eaque nulla, suscipit tempora, provident autem recusandae necessitatibus esse id pariatur perferendis debitis unde molestiae facilis fugiat, impedit. Magnam, sit.</p>
<p>Eius dolor eum corrupti nobis odio, provident incidunt sint rem ab suscipit rerum ducimus ullam nulla hic mollitia soluta placeat delectus culpa vero ipsam earum quas voluptatibus illo! Quas, dolore.</p>
<p>Necessitatibus incidunt velit earum cumque excepturi distinctio amet laboriosam quaerat nesciunt quae sit reprehenderit aliquam enim voluptatem, deserunt repellendus voluptatibus consequatur cum accusantium, et. Eum recusandae incidunt provident, eaque consectetur.</p>
<p>Reiciendis voluptates enim esse cum quo minima similique dignissimos vitae optio, alias consequuntur, expedita voluptate id totam repudiandae quas possimus doloremque suscipit, quisquam qui magnam aliquid itaque excepturi nostrum architecto?</p>