---
chapter: ''
topic: ''
demonstrates: ''
details: ''
---

<header class="row">
    <div class="large-3 columns medium-text-center small-text-center">
        <img src="../assets/img/logo.png" alt="The Landon Hotel.">
    </div>
    <div class="medium-9 columns medium-text-center small-text-center large-text-right">
        <h2>You'll feel at home in our neighborhood</h2>
    </div>
</header>
<div class="row">
    <div class="medium-12 columns">
        <img src="../assets/img/parisbridge.jpg" alt="Ponte Neuf Bridge, Paris.">
    </div>
</div>
<div class="row">
    <article class="medium-9 medium-order-2 columns">
        <h2>A neighborhood of intellect, art, and culture</h2>
        <p><img src="../assets/img/paris.jpg" class="float-right">The Latin Quarter is considered the intellectual center of
            Paris, and was named at a time when all students and professors of the Sorbonne University spoke Latin. Today
            it’s home to a dizzying array of intellectual venues including bookstores, schools, churches, and publishing
            houses. A scattering of Roman ruins, including the Pantheon, and other historical architecture and monuments,
            including the Fontaine Saint-Michel, also characterize the Latin Quarter.</p>
        <p><img src="../assets/img/parismap.jpg" class="float-left">Some of the delights of the region include gourmet food
            and wine tastings, as well as tours of favorite haunts frequented by famous writers and other intellects, including
            Ernest Hemingway, Oscar Wilde, and Gertrude Stein, to name a few. Walking tours of historical churches, some
            dating back as early as the 12th Century, including the St. Germaine des Prés Abbey and the Church of the Cordelier’s,
            are also aplenty. In addition, the Cordelier’s Monastery, adjacent to the church, houses the Museum of Popular
            Art and Tradition, a must-see for anyone interested in the art and culture of the region.</p>
    </article>
    <aside class="medium-3 medium-order-1 columns topspace">
        <p>Each Landon Hotel reflects the color, ﬂavor, and personality of the local neighborhood, giving visitors an authentic
            travel experience that honors the history and culture of the region.</p>
        <ul class="row no-bullet row small-up-3 medium-up-1">
            <li class="columns"><img class="thumbnail" src="../assets/img/parispastry.jpg" alt="Pastries. "></li>
            <li class="columns"><img class="thumbnail" src="../assets/img/parischurch.jpg" alt="Church steeple. "></li>
            <li class="columns"><img class="thumbnail" src="../assets/img/parissign.jpg" alt="Patisserie sign. "></li>
        </ul>
        <p><a href="#" class="button round tiny">Read more about Paris &gt;&gt;</a></p>
    </aside>
</div>
<footer class="row">
    <div class="large-12 columns text-center">
        <p>The Landon Hotel, Latin Quarter, Paris • 261 Rue Saint-Séverin, 75005 Paris, France </p>
        <p>Phone 01 42 517 85 • info@landonhotel.com • www.landonhotel.com</p>
    </div>