// Topbar menu
.top-bar {
    a {
        color: $white;
    }
    a:hover {
        color: $white;
        text-decoration: underline;
    }
}

// Page header blocks
header h2 {
    color: $violet;
}