.news-magazine-social-icons {
    .fi-social-facebook {
        font-size: 70px;
        color: #2199e8;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2199e8, 0 0 30px #2199e8, 0 0 40px #2199e8, 0 0 50px #2199e8, 0 0 75px #2199e8;
    }
    .fi-social-twitter {
        font-size: 70px;
        color: rgba(245, 159, 26, 0.8);
        text-shadow: 1px 4px 6px #FFF, 0 0 0 #000, 1px 4px 6px #FFF;
    }
    .fi-social-zurb {
        font-size: 70px;
        color: #B8D30B;
    }
    .fi-social-instagram {
        font-size: 70px;
        color: #2DAEBF;
        text-shadow: 0px 1px 0px #0092b3, 0px 2px 0px #0087a6, 0px 3px 0px #008099, 0px 4px 0px #00758c, 0px 5px 0px #555, 0px 6px 0px #006a80, 0px 0px 0px #006073, 0px 8px 7px #005566;
    }
    .fi-social-youtube {
        font-size: 70px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        color: #A9014B;
    }
    .fi-social-pinterest {
        font-size: 70px;
        color: pink;
        text-shadow: 0px 1px 0px pink, 0px 2px 0px pink, 0px 3px 0px pink, 0px 4px 0px pink, 0px 5px 0px red, 0px 6px 0px pink, 0px 0px 0px pink, 0px 8px 7px pink;
    }
    .fi-social-tumblr {
        font-size: 70px;
        color: lightseagreen;
        text-shadow: 1px 4px 6px #FFF, 0 0 0 #000, 1px 4px 6px #FFF;
    }
    .menu>li>a>.stat-type {
        clear: left;
    }
}