<ul class="vertical menu" data-accordion-menu id="main-menu">
    <li>
        <a class="menu-text" href="{{root}}index.html">Home</a>
    </li>
    <li>
        <li>
            <a class="has-nested" href="{{root}}cards.html">Cards</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}cards/cards-material-design.html">Cards - Material Design</a></li>
                <li><a href="{{root}}cards/cards-products.html">Cards - Products</a></li>
                <li><a href="{{root}}cards/cards-characters.html">Cards - Chinese Characters</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}data.html">Data</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}data/data-101.html">Paninin - Front Matter</a></li>
                <li><a href="{{root}}data/data-102.html">Panini - Local JSON</a></li>
                <li><a href="{{root}}data/data-103.html">JSON - Github jQuery AJAX</a></li>
                <li><a href="{{root}}data/data-104.html">JSON - Drupal jQuery AJAX</a></li>
                <li><a href="{{root}}data/data-105.html">Handlebars - Simple</a></li>
                <li><a href="{{root}}data/data-106.html">Handlebars - Github JSON &amp; AJAX</a></li>
                <li><a href="{{root}}data/data-106a.html">Handlebars - Github JSON &amp; jQuery</a></li>
                <li><a href="{{root}}data/data-107.html">Handlebars - Drupal &amp; JSON</a></li>
                <li><a href="{{root}}data/data-github-to-console.html">Github Json to Console</a></li>
                <li><a href="{{root}}data/data-github-key-value-pairs.html">Github Key Value Pairs</a></li>
                <li><a href="{{root}}data/data-github-104.html">Fetch Github JSON with jQuery</a></li>
                <li><a href="{{root}}data/panini-hsk-level-1.html">HSK Level 1</a></li> 
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}equal.html">Equalizer</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}equalizer/equalizer.html">Equalizer</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}flip.html">Flip Cards</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}flip-cards/jquery-flip-simple.html">jQuery Flip - Simple</a></li>
                <li><a href="{{root}}flip-cards/jquery-flip-chinese-cards.html">jQuery Flip Chinese Cards</a></li>
                <li><a href="{{root}}flip-cards/flippant-basic.html">Flippant - Basic</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}grid.html">Grid</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}grid/grid-basic.html">Basic Grid</a></li>
                <li><a href="{{root}}grid/grid-block.html">Block Grid</a></li>
                <li><a href="{{root}}grid/grid-nested.html">Nested Grid</a></li>
                <li><a href="{{root}}grid/grid-source-order.html">Source Order</a></li>
                <!--<li><a href="{{root}}grid/grid-tutorial-page.html">Demo Page</a></li>-->
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}extras.html">Isotope</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}isotope/isotope-layout.html">Isotope Layout</a></li>
                <li><a href="{{root}}isotope/isotope-layout-margin.html">Isotope Layout Margin</a></li>
                <li><a href="{{root}}isotope/isotope-layout-responsive.html">Isotope Layout Responsive</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}layouts.html">Layouts</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}layout-demos/topbar.html">Topbar</a></li>
                <li><a href="{{root}}layout-demos/topbar-responsive.html">Topbar Responsive</a></li>
                <li><a href="{{root}}layout-demos/os-l-r-menu.html">Offscreen L &amp; R Menu</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}images.html">Media</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}media/interchange.html">Interchange Image Swapping</a></li>
                <li><a href="{{root}}media/magnific.html">Magnific Lightbox</a></li>
                <li><a href="{{root}}media/orbit.html">Orbit Image Carousel</a></li>
                <li><a href="{{root}}media/photoswipe-gallery.html">Photoswipe Gallery</a></li>
                <li><a href="{{root}}media/photoswipe-link.html">Photoswipe Link</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}Visibility.html">Modals, Popups &amp; Tooltips</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}visibility/drop.html">Drop</a></li>
                <li><a href="{{root}}visibility/tooltip.html">Tooltip</a></li>
                <li><a href="{{root}}visibility/reveal.html">Reveal - Modal</a></li>
                <li><a href="{{root}}visibility/visibility.html">Visibility</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}panini.html">Panini</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}panini/panini-layouts-partials.html">Layouts &amp; Partials</a></li>
                <li><a href="{{root}}panini/panini-page-variables.html">Page Variables</a></li>
                <li><a href="{{root}}panini/panini-markdown.html">Markdown Filter</a></li>
                <li><a href="{{root}}panini/panini-helpers.html">Panini Helpers</a></li>
                <li><a href="{{root}}panini/panini-custom-helpers.html">Custom Helpers</a></li>
                <li><a href="{{root}}panini/panini-handlebars-helpers.html">Handlebars Helpers</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}templates.html">Templates</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}templates/agency.html">Agency</a></li>
                <li><a href="{{root}}templates/blog-simple.html">Blog Simple</a></li>
                <li><a href="{{root}}templates/blog.html">Blog</a></li>
                <li><a href="{{root}}templates/ecommerce.html">eCommerce</a></li>
                <li><a href="{{root}}templates/news-magazine.html">News Magazine</a></li>
                <li><a href="{{root}}templates/portfolio.html">Portfolio</a></li>
                <li><a href="{{root}}templates/product-page.html">Product Page</a></li>
                <li><a href="{{root}}templates/real-estate.html">Real Estate</a></li>
                <li><a href="{{root}}templates/hotel-landing-page.html">Hotel Landing Page</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}toggler.html">Toggler</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}toggler/toggler-demo.html">Toggler</a></li>
                <li><a href="{{root}}toggler/toggler-character-cards.html">Toggler - Character Cards</a></li>
            </ul>
        </li>
        <li>
            <a class="has-nested" href="{{root}}components.html">Typography</a>
            <ul class="nested vertical menu">
                <li><a href="{{root}}typography/typography.html">Typography</a></li>
                <li><a href="{{root}}typography/typography.html">Foundation Icons</a></li>
                <li><a href="{{root}}typography/typography.html">Other Icons</a></li>
            </ul>
        </li>
    </li>
</ul>