<!--Used in the topbar-responsive layout demo-->
<ul class="dropdown menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown" style="width: 300px;">
    <li><a class="menu-text" href="{{root}}index.html">Foundation 6 Sandbox</a></li>
    <!--<li class="has-submenu">
        <a href="#">Dropdown item</a>
        <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">Dropdown One</a></li>
            <li><a href="#">Dropdown Two</a></li>
            <li><a href="#">Dropdown Three</a></li>
        </ul>
    </li>
    <li><a href="#">Item Two</a></li>-->
    <li><a href="{{root}}info/contact.html">Contact</a></li>
    <li><a href="#">Login</a></li>
</ul>
