<ul class="vertical menu" data-drilldown style="width: 200px" id="m1">
    <li><a class="menu-text" href="index.html">Home</a></li>
    <li>
        <li>
            <a  href="content/grid-overview.html">Grid Overview</a>
            <ul class=" vertical menu">
                <li><a href="content/jquery-flip-simple.html">jQuery Flip - Simple</a></li>
                <li><a href="content/jquery-flip-grid.html">jQuery Flip - Grid</a></li>
                <li><a href="content/jquery-flip-grid-block.html">jQuery Flip - Grid Block</a></li>
                <li><a href="content/jquery-flip-chinese-cards.html">jQuery Flip - Chinese Cards</a></li>
                <li><a href="content/flippant-basic.html">Flippant - Basic</a></li>
                <li><a href="content/grid-basic.html">Grid - Basic</a></li>
                <li><a href="content/-grid.html">Grid - </a></li>
                <li><a href="content/grid-block.html">Grid - Block Grid</a></li>
                <li><a href="content/grid-source-order.html">Grid - Source Order</a></li>
                <li><a href="content/chapter-2-solution.html">Chapter 2 Solution</a></li>
            </ul>
        </li>
        <li>
            <a  href="content/layouts.html">Layouts</a>
            <ul class=" vertical menu">
                <li><a href="layout-demos/demo-topbar.html">Topbar</a></li>
                <li><a href="layout-demos/demo-topbar-responsive.html">Topbar Responsive</a></li>
               
                <li><a href="layout-demos/demo-offscreen-left.html">Offscreen Left</a></li>
                <li><a href="layout-demos/demo-offscreen-left-.html">Offcanvas Left </a></li>
                <li><a href="layout-demos/demo-offscreen-left-drilldown.html">Offscreen Left Drilldown</a></li>
                <li><a href="layout-demos/demo-offscreen-right.html">Offscreen Right</a></li>
                <li><a href="layout-demos/demo-offscreen-right-.html">Offscreen Right </a></li>
                <li><a href="layout-demos/demo-offscreen-right-drilldown.html">Offscreen Right Drilldown</a></li>
                <li><a href="layout-demos/demo-offscreen-l-r-.html">Offscreen Left Right </a></li>
                <li><a href="layout-demos/demo-offscreen-l-r-drilldown.html">Offscreen Left Right Drilldown</a></li>

            </ul>
        </li>
        <li>
            <a  href="templates/templates-overview.html">Templates</a>
            <ul class=" vertical menu">
                <li><a href="templates/agency.html">Agency</a></li>
                <li><a href="templates/blog-simple.html">Blog Simple</a></li>
                <li><a href="templates/blog.html">Blog</a></li>
                <li><a href="templates/ecommerce.html">eCommerce</a></li>
                <li><a href="templates/news-magazine.html">News Magazine</a></li>
                <li><a href="templates/portfolio.html">Portfolio</a></li>
                <li><a href="templates/product-page.html">Product Page</a></li>
                <li><a href="templates/real-estate.html">Real Estate</a></li>
            </ul>
        </li>
        <li>
            <a  href="content/cards.html">Cards Overview</a>
            <ul class=" vertical menu">
                <li><a href="content/cards-product-card.html">Cards - Products</a></li>
                <li><a href="content/cards-material-design.html">Cards - Material Design</a></li>
                <li><a href="content/cards-characters.html">Cards - Chinese Characters</a></li>
            </ul>
        </li>
        <li>
            <a  href="content/panini-templating.html">Panini Templating</a>
            <ul class=" vertical menu">
                <li><a href="content/panini-markdown.html">Panini Helpers - Markdown Filter</a></li>
            </ul>
        </li>
        <li>
            <a  href="content/components.html">Components Overview</a>
            <ul class=" vertical menu">
                <li><a href="content/typography.html">Typography</a></li>
                <li><a href="content/visibility.html">Visibility</a></li>
                <li><a href="content/chapter-3-solution.html">Chapter 3 Solution</a></li>
            </ul>
        </li>
        <li>
            <a  href="content/navigation.htl">Navigation Overview</a>
            <ul class=" vertical menu">
                <li><a href="content/topbar_and_dropdown.html">Topbar and Dropdown</a></li>
                <li><a href="content/topbar_and_.html">Topbar Responsive -  on Mobile</a></li>
                <li><a href="content/topbar_and_drilldown.html">Topbar Responsive - Drilldown on Mobile</a></li>
                <li><a href="content/offcanvas_and_drilldown.html">Off-canvas and Drilldown</a></li>
                <li><a href="content/offcanvas_and_.html">Off-canvas and </a></li>
                <li><a href="content/offcanvas__and_topbar_.html">Off-canvas  - Topbar </a></li>
                <li><a href="content/offcanvas_drill_and_topbar_drill.html">Off-canvas Drilldown - Topbar Drilldown</a></li>
            </ul>
        </li>
        <li>
            <a  href="content/js-overview">Plugins</a>
            <ul class=" vertical menu">
                <li><a href="content/equalizer.html">Equalizer</a></li>
                <li><a href="content/toggler-demo.html">Toggler</a></li>
                <li><a href="content/toggler-character-cards.html">Toggler - Character Cards</a></li>
                <li><a href="content/orbit.html">Orbit - Carousel</a></li>
                <li><a href="content/reveal.html">Reveal - Modal</a></li>
                <li><a href="content/interchange.html">Interchange - Swap media for screen size</a></li>
                <li><a href="content/tooltip.html">Tooltip</a></li>
            </ul>
        </li>
        <li>
            <a  href="content/third-party">Third Party</a>
            <ul class=" vertical menu">
                <li><a href="content/isotope-layout.html">Isotope Layout</a></li>
                <li><a href="content/isotope-layout-margin.html">Isotope Layout Margin</a></li>
                <li><a href="content/isotope-layout-responsive.html">Isotope Layout Responsive</a></li>
                <li><a href="content/magnific.html">Drop</a></li>
                <li><a href="content/magnific.html">Magnific Lightbox</a></li>
                <li><a href="content/photoswipe-link.html">Photoswipe Link</a></li>
                <li><a href="content/photoswipe-gallery.html">Photoswipe Gallery</a></li>
            </ul>
        </li>
</ul>
