
<ul class="dropdown menu" data-dropdown-menu>
  <li><button type="button" class="menu-icon dark show-for-medium-only" data-toggle="offCanvas"></button></li>
  <li><a class="menu-text" href="index.html">Landon Hotel</a></li>
  <li class="has-submenu">
    <a href="#">Accomodations</a>
    <ul class="submenu menu vertical" data-submenu>
      <li><a href="grid.html">King with Sofa Bed</a></li>
      <li><a href="nested-grid.html">Two Queen Beds</a></li>
      <li><a href="block-grid.html">Pet-Friendly Suite</a></li>
    </ul>
  </li>
  <li><a href="#">Reservations</a></li>
  <li><a href="#">Meetings &amp; Events</a></li>
  <li><a href="#">Contact</a></li>
</ul>
