<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
    <row>
        <div class="columns small-12">
            <div class="top-bar">
                <div class="top-bar-left">
                    {{> menu-dropdown}}

                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li>
                            <input type="search" placeholder="Search">
                        </li>
                        <li>
                            <button type="button" class="button">Search</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </row>
    <row>
        <div class="columns small-12">
{{> body}}
        </div>
    </row>
{{> footer}}
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>